# Módulo 1 - Aula 4

In [ ]:
 latlong = '-22.005320;-47.891040'
 print(latlong)

In [ ]:
latlong = '-22.005320;-47.891040'
print(latlong)
separador = latlong.find(";")
print('Latitude:' + latlong[0:separador])
print('Longitude' + latlong[separador+1:len(latlong)])
print(f'Latitude: {latlong[0:separador]} \nLongitude: {latlong[separador+1:len(latlong)]}')

-22.005320;-47.891040
Latitude:-22.005320
Longitude-47.891040
Latitude: -22.005320
Longitude: -47.891040

# Exercícios 1° Módulo

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá, mundo!")

Olá, mundo!

Crie uma célula de texto e adicione uma imagem.

![51132328_652194071903491_1467711093859368003_n.jpg]()

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
A= 320.52*3
print('A='+ str(A))

A=961.56

In [17]:
# (B)
B=834.47/119.21
print('B=' + str(B))

B=7.000000000000001

In [19]:
# (C)
C=15378.12/5
print('C=' + str(C))

C=3075.6240000000003

##  3\. Strings

Aplique três métodos distintos na string abaixo, você pode conferir alguns métodos neste link:

In [25]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.find('ã'))
print(cancao.count(','))
print(cancao.replace(',','.',-1))

46
3
Roda mundo. roda gigante. roda moinho. roda pião.

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variavel ano. Imprima os valores na tela.

In [36]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
selic=noticia.find('Selic vai a ') + len('Selic vai a ')
ano=noticia.find('anos')-2
print('Selic: ' + noticia[selic:selic+5])
print('Ano: ' + noticia[ano:ano+1])

Selic: 2,75%
Ano: 6

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
print(x)

True

# Módulo 2

## Aula 1 - Listas

In [7]:
Sw = ['Xiaomi', 'Samsung', 'Mobvoi', 'huawei']
print(Sw)
print(Sw[0:2])
Sw.insert(1, 'Apple')
print(Sw)

['Xiaomi', 'Samsung', 'Mobvoi', 'huawei']
['Xiaomi', 'Samsung']
['Xiaomi', 'Apple', 'Samsung', 'Mobvoi', 'huawei']

In [8]:
Sw.insert(1, 'Apple')
print(Sw)

['Xiaomi', 'Apple', 'Apple', 'Samsung', 'Mobvoi', 'huawei']

In [9]:
Sw.remove('Apple')

In [10]:
print(Sw)

['Xiaomi', 'Apple', 'Samsung', 'Mobvoi', 'huawei']

In [11]:
Sw.append('Teste')
print(Sw)

['Xiaomi', 'Apple', 'Samsung', 'Mobvoi', 'huawei', 'Teste']

In [12]:
Sw.pop(5)
print(Sw)

['Xiaomi', 'Apple', 'Samsung', 'Mobvoi', 'huawei']

In [16]:
nome='Eider Arantes de Oliveira'
carac_nome=list(nome)
print(nome)
print(carac_nome)
print(carac_nome[6:13])

Eider Arantes de Oliveira
['E', 'i', 'd', 'e', 'r', ' ', 'A', 'r', 'a', 'n', 't', 'e', 's', ' ', 'd', 'e', ' ', 'O', 'l', 'i', 'v', 'e', 'i', 'r', 'a']
['A', 'r', 'a', 'n', 't', 'e', 's']

## Aula 2 - Conjuntos

In [22]:
cidades_duplicadas=['Manaus','Sinop', 'Manaus']
cidades=set(cidades_duplicadas)
print(cidades_duplicadas)
print(cidades)

['Manaus', 'Sinop', 'Manaus']
{'Sinop', 'Manaus'}

## Aula 3 - Dicionários

In [36]:
pessoa = {'Pai':{'Nome':'Eider', 
          'Sobrenome':'Arantes de Oliveira', 
          'Filhos':{
              'Filho1':'Caio', 
              'Filho2':'Laura',
              'Filho3':'Laís'}
            },
          'Mãe':{'Nome':'Fabiana', 
          'Sobrenome':'Ferreira de Araújo Oliveira', 
          'Filhos':{
              'Filho1':'Caio', 
              'Filho2':'Laura',
              'Filho3':'Laís'}
            }
          }
print(pessoa)

{'Eider': {'Nome': 'Eider', 'Sobrenome': 'Arantes de Oliveira', 'Filhos': {'Filho1': 'Caio', 'Filho2': 'Laura', 'Filho3': 'Laís'}}, 'Fabiana': {'Nome': 'Fabiana', 'Sobrenome': 'Ferreira de Araújo Oliveira', 'Filhos': {'Filho1': 'Caio', 'Filho2': 'Laura', 'Filho3': 'Laís'}}}

## Exercícios do Módulo 2

### Exercício 1 - Listas
1. Listas
Crie uma lista chamada filmes com o nome dos 10 primeiros filmes mais bem avaliados no
site no IMDB. Imprima o resultado.

In [7]:
filmes = ['1. Um Sonho de Liberdade (1994)', '2. O Poderoso Chefão (1972)','3. Batman: O Cavaleiro das Trevas (2008)','4. O Poderoso Chefão II (1974)','	5. 12 Homens e uma Sentença (1957)','6. A Lista de Schindler (1993)','7. O Senhor dos Anéis: O Retorno do Rei (2003)','8. Pulp Fiction: Tempo de Violência (1994)','9. O Senhor dos Anéis: A Sociedade do Anel (2001)','10. Três Homens em Conflito (1966)']
print(filmes)

['1. Um Sonho de Liberdade (1994)', '2. O Poderoso Chefão (1972)', '3. Batman: O Cavaleiro das Trevas (2008)', '4. O Poderoso Chefão II (1974)', '\t5. 12 Homens e uma Sentença (1957)', '6. A Lista de Schindler (1993)', '7. O Senhor dos Anéis: O Retorno do Rei (2003)', '8. Pulp Fiction: Tempo de Violência (1994)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '10. Três Homens em Conflito (1966)']

2. Simule a movimentação do ranking. Utilize os métodos insert e pop para trocar a posição
do primeiro e do segundo filme da lista. Imprima o resultado.

In [8]:
filmes_modif = filmes.pop(0)
print(filmes_modif)
print(filmes)
filmes.insert(1, filmes_modif)
print(filmes)

1. Um Sonho de Liberdade (1994)
['2. O Poderoso Chefão (1972)', '3. Batman: O Cavaleiro das Trevas (2008)', '4. O Poderoso Chefão II (1974)', '\t5. 12 Homens e uma Sentença (1957)', '6. A Lista de Schindler (1993)', '7. O Senhor dos Anéis: O Retorno do Rei (2003)', '8. Pulp Fiction: Tempo de Violência (1994)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '10. Três Homens em Conflito (1966)']
['2. O Poderoso Chefão (1972)', '1. Um Sonho de Liberdade (1994)', '3. Batman: O Cavaleiro das Trevas (2008)', '4. O Poderoso Chefão II (1974)', '\t5. 12 Homens e uma Sentença (1957)', '6. A Lista de Schindler (1993)', '7. O Senhor dos Anéis: O Retorno do Rei (2003)', '8. Pulp Fiction: Tempo de Violência (1994)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '10. Três Homens em Conflito (1966)']

### Exercício 2 - Conjuntos
Aconteceu um erro no seu ranking. Simule a duplicação dos três últimos filmes da lista.
Imprima o resultado.
Utiliza a conversão set e list para remover os valores duplicados. Imprima o resultado.

In [18]:
filmes = ['1. Um Sonho de Liberdade (1994)', '2. O Poderoso Chefão (1972)','3. Batman: O Cavaleiro das Trevas (2008)','4. O Poderoso Chefão II (1974)','5. 12 Homens e uma Sentença (1957)','6. A Lista de Schindler (1993)','7. O Senhor dos Anéis: O Retorno do Rei (2003)','8. Pulp Fiction: Tempo de Violência (1994)','9. O Senhor dos Anéis: A Sociedade do Anel (2001)','10. Três Homens em Conflito (1966)']
filmes.insert(len(filmes),filmes[len(filmes)-3])
filmes.insert(len(filmes),filmes[len(filmes)-3])
filmes.insert(len(filmes),filmes[len(filmes)-3])
print(filmes)
filmes = list(set(filmes))
print(filmes)
print(len(filmes))

['1. Um Sonho de Liberdade (1994)', '2. O Poderoso Chefão (1972)', '3. Batman: O Cavaleiro das Trevas (2008)', '4. O Poderoso Chefão II (1974)', '5. 12 Homens e uma Sentença (1957)', '6. A Lista de Schindler (1993)', '7. O Senhor dos Anéis: O Retorno do Rei (2003)', '8. Pulp Fiction: Tempo de Violência (1994)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '10. Três Homens em Conflito (1966)', '8. Pulp Fiction: Tempo de Violência (1994)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '10. Três Homens em Conflito (1966)']
['1. Um Sonho de Liberdade (1994)', '5. 12 Homens e uma Sentença (1957)', '10. Três Homens em Conflito (1966)', '3. Batman: O Cavaleiro das Trevas (2008)', '2. O Poderoso Chefão (1972)', '9. O Senhor dos Anéis: A Sociedade do Anel (2001)', '4. O Poderoso Chefão II (1974)', '8. Pulp Fiction: Tempo de Violência (1994)', '7. O Senhor dos Anéis: O Retorno do Rei (2003)', '6. A Lista de Schindler (1993)']
10

### Exercício 3 - Dicionários
Repita os exercícios da parte 1 (listas). Os elementos da lista filmes devem ser dicionários
no seguinte formato: {'nome': <nome-do-filme>, 'ano': <ano do filme>},
'sinopse': <sinopse do filme>}

In [35]:
filmes = {'1. Um Sonho de Liberdade': {'Ano': '1994', 'Sinopse':'Dois homens presos se reúnem ao longo de vários anos, encontrando consolo e eventual redenção através de atos de decência comum.'},
          '2. O Poderoso Chefão': {'Ano': '1972', 'Sinopse':'O patriarca idoso de uma dinastia do crime organizado transfere o controle de seu império clandestino para seu filho relutante.'},
          '3. Batman: O Cavaleiro das Trevas': {'Ano':'2008', 'Sinopse':'Quando a ameaça conhecida como O Coringa surge de seu passado, causa estragos e caos nas pessoas de Gotham. O Cavaleiro das Trevas deve aceitar um dos maiores testes para combater a injustiça.'},
          '4. O Poderoso Chefão II':{'Ano':'1974', 'Sinopse': 'Em 1950, Michael Corleone, agora à frente da família, tenta expandir o negócio do crime a Las Vegas, Los Angeles e Cuba. Paralelamente, é revelada a história de Vito Corleone, e de como saiu da Sicília e chegou a Nova Iorque.'},
          '5. 12 Homens e uma Sentença':{'Ano':'1957','Sinopse': 'Um jurado que se aposenta tenta evitar um erro judicial forçando seus colegas a reconsiderarem as evidências.'},
          '6. A Lista de Schindler':{'Ano':'1993','Sinopse':'Depois de testemunhar a perseguição dos judaicos na Polônia ocupada pelos alemães durante a Segunda Guerra Mundial, o industrial Oskar Schindler se começa a preocupar com sua força de trabalho judaica.'},
          '7. O Senhor dos Anéis, O Retorno do Rei': {'Ano':'2003','Sinopse':'Gandalf e Aragorn lideram o Mundo dos Homens contra o exército de Sauron para desviar o olhar de Frodo e Sam quando eles se aproximam á Montanha da Perdição com o Um Anel.'},
          '8. Pulp Fiction: Tempo de Violência':{'Ano': '1994', 'Sinopse':'As vidas de dois assassinos da máfia, um boxeador, um gângster e sua esposa, e um par de bandidos se entrelaçam em quatro histórias de violência e redenção.'},
          '9. O Senhor dos Anéis: A Sociedade do Anel':{'Ano': '2001', 'Sinopse':'Um manso hobbit do Condado e oito companheiros partem em uma jornada para destruir o poderoso Um Anel e salvar a Terra-média das Trevas.'},
          '10. Três Homens em Conflito':{'Ano': '1966', 'Sinopse':'Um impostor se junta com dois homens para encontrar fortuna num remoto cemitério.'}}
print(filmes)
print(filmes['6. A Lista de Schindler']['Ano'])
print(filmes['8. Pulp Fiction: Tempo de Violência']['Sinopse'])

{'1. Um Sonho de Liberdade': {'Ano': '1994', 'Sinopse': 'Dois homens presos se reúnem ao longo de vários anos, encontrando consolo e eventual redenção através de atos de decência comum.'}, '2. O Poderoso Chefão': {'Ano': '1972', 'Sinopse': 'O patriarca idoso de uma dinastia do crime organizado transfere o controle de seu império clandestino para seu filho relutante.'}, '3. Batman: O Cavaleiro das Trevas': {'Ano': '2008', 'Sinopse': 'Quando a ameaça conhecida como O Coringa surge de seu passado, causa estragos e caos nas pessoas de Gotham. O Cavaleiro das Trevas deve aceitar um dos maiores testes para combater a injustiça.'}, '4. O Poderoso Chefão II': {'Ano': '1974', 'Sinopse': 'Em 1950, Michael Corleone, agora à frente da família, tenta expandir o negócio do crime a Las Vegas, Los Angeles e Cuba. Paralelamente, é revelada a história de Vito Corleone, e de como saiu da Sicília e chegou a Nova Iorque.'}, '5. 12 Homens e uma Sentença': {'Ano': '1957', 'Sinopse': 'Um jurado que se aposenta tenta evitar um erro judicial forçando seus colegas a reconsiderarem as evidências.'}, '6. A Lista de Schindler': {'Ano': '1993', 'Sinopse': 'Depois de testemunhar a perseguição dos judaicos na Polônia ocupada pelos alemães durante a Segunda Guerra Mundial, o industrial Oskar Schindler se começa a preocupar com sua força de trabalho judaica.'}, '7. O Senhor dos Anéis, O Retorno do Rei': {'Ano': '2003', 'Sinopse': 'Gandalf e Aragorn lideram o Mundo dos Homens contra o exército de Sauron para desviar o olhar de Frodo e Sam quando eles se aproximam á Montanha da Perdição com o Um Anel.'}, '8. Pulp Fiction: Tempo de Violência': {'Ano': '1994', 'Sinopse': 'As vidas de dois assassinos da máfia, um boxeador, um gângster e sua esposa, e um par de bandidos se entrelaçam em quatro histórias de violência e redenção.'}, '9. O Senhor dos Anéis: A Sociedade do Anel': {'Ano': '2001', 'Sinopse': 'Um manso hobbit do Condado e oito companheiros partem em uma jornada para destruir o poderoso Um Anel e salvar a Terra-média das Trevas.'}, '10. Três Homens em Conflito': {'Ano': '1966', 'Sinopse': 'Um impostor se junta com dois homens para encontrar fortuna num remoto cemitério.'}}
1993
As vidas de dois assassinos da máfia, um boxeador, um gângster e sua esposa, e um par de bandidos se entrelaçam em quatro histórias de violência e redenção.